.place {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: black;
    display: inline-block;
}

.line {
    display: table;
    border-left: 2px dashed lightseagreen;
    height: 75px;
    padding: 5px;
}

.info {
    display: table-cell;
    vertical-align: middle;
}

.legs-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
}