<div class="container">
    <div class="search-container">
        <app-search (onPlaceSelected)='setFrom($event)'></app-search>
        <app-search (onPlaceSelected)='setTo($event)'></app-search>
    </div>
    <div class="results-container">
        <div *ngFor="let path of paths">
            <div *ngFor="let leg of path.legs">
                {{ leg.fromSpecific }} - {{ leg.toSpecific }}
                <hr />
                {{ leg.utcDeparture }} -- {{ leg.utcArrival }} {{ leg.arrivalEstimated ? '(estimated)' : '' }} ({{ leg.duration }})
                <hr />
                {{ leg.carrier }}{{ leg.price == null ? '' : ' | ' + leg.price }}
            </div>
        </div>
    </div>
</div>