mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: black;
    width: 350px;
}

.search-box {
    background-color: white;
    width: 100px;
    height: 100px;
}